@import "tailwindcss";

@theme {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
